**/.idea
**/*.cmi
**/*.cmo
**/*.cmt
**/*.cmti
**/*.cmx
**/*.cmxs
**/META.frama-c
**/META.frama-c-*
**/*.a
**/*.check_mli_exists
**/frama-c.cma
**/frama-c.cmxa
**/dllframa-c.so
**/Auto.mli
**/*.o
**/out.c
**/META.frama-c-auto
**/.depend
**/.Makefile.plugin.generated
**/Auto.check_mli_exists
**/graph.out
**/tests/*/result/
**/frama_c_journal.ml
**/settings.json
**/.frama-c/
**/tests/scania/stee
**/tests/scania/stee_gustav
**/tests/scania/warn
**/tests/ghost
**/tests/general/oracle/dune
_build
